@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.container{
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: 1.5fr 1fr;
}
.item{

    padding: 12px 23px;
}

#header{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #343c57;
    color: whitesmoke;
}

#aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(228, 220, 227);
}

#section{
    background-color: rgb(253, 252, 253);
}

.logo{
    position: relative;
    bottom: 20px;
}

.heading{
    font-family: 'Fredoka One', cursive;
    text-decoration: underline;
}

.intro{
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

.small_heading{
color: red;
font-size: 1.2em;
font-weight: bold;
text-decoration: underline;
}

.social a{
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(199, 97, 38);
}

.social a:hover{
    color: blue;
}

.t_skills{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}

.n_skills{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}

.hobbs{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
